_site
.DS_Store
.jekyll
.jekyll-metadata
.bundle
.sass-cache
Gemfile.lock
node_modules
package.json
SweResult/*/complete_run_logs.tar.gz
SweResult/*/full_run_tree/
SweResult/**/stale_run_archives/
SweResult/**/stale_run_archives/**
